body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDsou-9Yj0s2NTQ1pGx4zvMQj12BW1NUvgLA&s);
  background-size: cover;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: brown;
  font-style: italic;
  text-decoration: underline;
}
ol {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  background-color: burlywood;
}
.head2 {
  color: purple;
}
.internli {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  text-align: justify;
  background-color: burlywood;
}
.paraintern {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  text-align: justify;
  background-color: khaki;
}
.bkgrnddetails {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  text-align: justify;
  background-color: burlywood;
}
