body {
  background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  margin: 0%;
  height: 100vh;
}

h1 {
  color: orangered;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  font-weight: normal;
  color: rgb(238, 154, 10);
}

b {
  color: red;
}
